extends layout.pug

append head
    title= `Music Hunt`
    link(rel='stylesheet' href='/stylesheets/about.css')
    script(src="/javascripts/index.js" type="module" defer)

block content
    div.body-container
        div.body-container-elements
            div.app-academy-logo
                img(src="https://assets-global.website-files.com/5dcc7f8c449e597ed83356b8/6269b3a19f67fd137a262d0a_A%20Logo%20Main%20-%20Red.svg", alt="")

            div.profile-edit-title
                p About Our Team

            div.profile-container

                div.member
                    div.profile-picture
                        img(src="https://avatars.githubusercontent.com/u/100536560?v=4", alt="")
                    div.member-name
                        p Kevin Gao
                    div.position
                        p Developer
                    div.links
                        a(href="https://www.linkedin.com/in/kevin-gao-81a7b8241/")
                            img(src= "https://sharethis.imgix.net/2017/05/LinkedIn.png?fm=webp&auto=compress&q=1")
                        a(href="https://github.com/kevin9gao")
                            img(src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png")

                div.member
                    div.profile-picture
                        img(src="https://media.discordapp.net/attachments/985403811575251027/985404915335696414/IMG_7974.jpg?width=882&height=888", alt="")
                    div.member-name
                        p Xiangyou Wang
                    div.position
                        p Developer
                    div.links
                        a(href="https://www.linkedin.com/in/xiangyou-wang-800988139/")
                            img(src= "https://sharethis.imgix.net/2017/05/LinkedIn.png?fm=webp&auto=compress&q=1")
                        a(href="https://github.com/whatsup-world")
                            img(src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png")

                div.member
                    div.profile-picture
                        img(src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png", alt="")

                    div.member-name
                        p Jonathan Kim

                    div.position
                        p Developer

                    div.links
                        a(href="https://www.linkedin.com/in/kimjonathan426/")
                            img(src= "https://sharethis.imgix.net/2017/05/LinkedIn.png?fm=webp&auto=compress&q=1")
                        a(href="https://github.com/KimJonathan426")
                            img(src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png")

                div.member
                    div.profile-picture
                        img(src="https://images-ext-1.discordapp.net/external/Dr2GBIvwrG1EN5NFEt571uel2df3IN6T4XPtzIvEJrU/%3F_nc_cat%3D104%26ccb%3D1-7%26_nc_sid%3D09cbfe%26_nc_ohc%3DlrJBmtLH-IAAX9XKPqu%26tn%3De-IwUzZTd9LqoDkj%26_nc_ht%3Dscontent-ort2-1.xx%26oh%3D00_AT8r_W9ujlOl_SjEWJftrF2EaUV12L88NIxqWtd42NRPgg%26oe%3D62AA76E9/https/scontent-ort2-1.xx.fbcdn.net/v/t39.30808-6/271040867_3060141327575945_365067375228634896_n.jpg?width=876&height=888", alt="")

                    div.member-name
                        p Isaac Diaz

                    div.position
                        p Developer

                    div.links
                        a(href="https://www.linkedin.com/in/isaac-diaz-459a52241/")
                            img(src= "https://sharethis.imgix.net/2017/05/LinkedIn.png?fm=webp&auto=compress&q=1")
                        a(href="https://github.com/Palillo10")
                            img(src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png")
    footer#footer
        p Copyright (c) | Music Hunt
