extends layout.pug

append head
    title= `Music Hunt`
    link(rel='stylesheet' href='/stylesheets/about.css')
    script(src="/javascripts/index.js" type="module" defer)

block content
    div.body-container
        div.body-container-elements
            div.app-academy-logo
                img(src="https://assets-global.website-files.com/5dcc7f8c449e597ed83356b8/6269b3a19f67fd137a262d0a_A%20Logo%20Main%20-%20Red.svg", alt="")

            div.profile-edit-title
                p About Our Team

            div.profile-container

                div.member
                    div.profile-picture
                        img(src="https://avatars.githubusercontent.com/u/100536560?v=4", alt="")
                    div.member-name
                        p Kevin Gao
                    div.position
                        p Developer
                    div.links
                        a(href="https://www.linkedin.com/in/kevin-gao-81a7b8241/")
                            img(src= "https://sharethis.imgix.net/2017/05/LinkedIn.png?fm=webp&auto=compress&q=1")
                        a(href="https://github.com/kevin9gao")
                            img(src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png")

                div.member
                    div.profile-picture
                        img(src="edward-profile.jpg", alt="")
                    div.member-name
                        p Xiangyou Wang
                    div.position
                        p Developer
                    div.links
                        a(href="https://www.linkedin.com/in/xiangyou-wang-800988139/")
                            img(src= "https://sharethis.imgix.net/2017/05/LinkedIn.png?fm=webp&auto=compress&q=1")
                        a(href="https://github.com/whatsup-world")
                            img(src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png")

                div.member
                    div.profile-picture
                        img(src="jonathan-profile.jpg", alt="")

                    div.member-name
                        p Jonathan Kim

                    div.position
                        p Developer

                    div.links
                        a(href="https://www.linkedin.com/in/kimjonathan426/")
                            img(src= "https://sharethis.imgix.net/2017/05/LinkedIn.png?fm=webp&auto=compress&q=1")
                        a(href="https://github.com/KimJonathan426")
                            img(src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png")

                div.member
                    div.profile-picture
                        img(src="isaac-profile.jpg", alt="")

                    div.member-name
                        p Isaac Diaz

                    div.position
                        p Developer

                    div.links
                        a(href="https://www.linkedin.com/in/isaac-diaz-459a52241/")
                            img(src= "https://sharethis.imgix.net/2017/05/LinkedIn.png?fm=webp&auto=compress&q=1")
                        a(href="https://github.com/Palillo10")
                            img(src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png")
    footer#footer
        p Copyright (c) | Music Hunt
