doctype html
html
  head
      block head
        title="Music Hunt"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    nav(class='navbar')
      if locals.authenticated
        if user
          p= `Welcome, ${user.full_name}`
        form(action='/users/logout' method='post')
          button(type='submit') Log Out
      else
        p Logged Out
        form(action='/users/demo' method='post')
          button Demo Login
    block content
