doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    nav(class='navbar')
      if locals.authenticated
        p Logged In
        form(action='/users/logout' method='post')
          button(type='submit') Log Out
      else
        p Logged Out
        form(action='/users/demo' method='post')
          button Demo Login
    block content
