doctype html
html
  head
      block head
        title="Music Hunt"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    nav.navbar
      div.nav-left
        a(href='/')
          img(id='logo-img' src='https://icon-library.com/images/m-icon/m-icon-7.jpg')
      div.nav-right

      if locals.authenticated
        div#logged-in
          if user
            p#welcome-user= `Welcome, ${user.full_name}`
          form(action=`/users/${user.username}/edit` method='get')
            button Edit Profile
          form(action='/users/logout' method='post' class='log-in_sign-up')
            button(type='submit' class='users-links') Log Out
      else
        div#logged-out
          p Logged Out
          form(action='/users/demoUser' method='post' class='log-in_sign-up')
            button.users-links Demo Login
          form(action='/users/login' method='get' class='log-in_sign-up')
            button.users-links Log In
          form(action='/users/signup' method='get' class='log-in_sign-up')
            button#sign-up Sign Up
    block content
