extends layout.pug

block content
  if errors
    p The following errors took place:
      ul
        each error in errors
          li= error
  form(action='/users/login' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    label Email
    input(type='email' name='email' value=email)
    br
    label Username
    input(type='text' name='username' value=username)
    br
    label Password
    //- TODO change 'text' to 'password'
    input(type='text' name='password' required)
    button Login
