extends layout.pug

block content
    table(class='table')
        thead(id='users-table-head')
            tr
                th(class='table-head-element') Name
                th(class='table-head-element') Username
                th(class='table-head-element') Email
        tbody(id='users-table-body')
            each user in users
                tr
                    td(class='table-body-element')= user.full_name
                    td(class='table-body-element')= user.username
                    td(class='table-body-element')= user.email
