body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.header-text-style {
    color: #21293c;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.sub-header-text-style {
    color: #4b587c;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    padding: 0 8px;
    border: 1px solid #fff;
    border-radius: 12px;
}

.upvote-text-style {
    color: #4b587c;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.main-content-container {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    width: 1216px;
    margin: 40px 142px 0px;
    height: fit-content;
}

.songs-container {
    box-sizing: border-box;
    width: 800px;
}

.sidebar {
    box-sizing: content-box;
    width: 280px;
    margin-left: 5vw;
    padding-left: 6vw;
    box-shadow: inset 5px 0 5px -5px grey;
}

#song-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.song {
    display:flex;
    padding-bottom: 24px;
    padding-top: 24px;
}

.song-content {
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
    height: 82px;
    background-color: #fff;
    transition: background-color 0.3s ease-in;
}

.song-content:hover {
    background-color: rgb(0, 75, 255, .05);
}

.song-img {
    width: 80px;
    height: 80px;
    padding-right: 8px;
}

.song-info {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 620px;
    height: 82px;
    margin-left: 16px;
}

#song-name {
    color: #636876;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

#song-artist {
    color: #667190;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    height: 58px;
}

.upvotes {
    box-sizing: border-box;
    margin: 8px 8px 8px 16px;
}

.upvote-button {
    background: #fff;
    border: 1px solid #8c8f94;
    width: 52px;
    height: 64px;
    padding: 7px 4px 12px;
    border-radius: 10px;
}

.upvote_button:hover {
    box-shadow: 0px 0px 1.5px 1.5px #8c8f94;
}

#upvote-container {
    display: flex;
    flex-direction: column;
}


.upvote_icon {
    position: relative;
    left: 10px;
    bottom: -3px;
    width: 0px;
    height: 0px;
    border-bottom: 11px solid #8c8f94;
    border-left: transparent solid 11px;
    border-right: transparent solid 11px;
    border-radius: 9px;
    margin-bottom: 9px;
}

.artist-block {
    color: #4b587c;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 24px;
}

.artist-container {
    width: 280px;
    height: fit-content;
    justify-content: center;
    margin-bottom: 40px;
    border-bottom: 1px solid #d9e1ec;
    padding-bottom: 20px;
}

.artist-img {
    width: 280px;
    height: 164px;
    border-radius: 10%;
}
