body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_style {
    color: #21293c;
    font-size: 24px;
    line-height:32px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.main_content_container {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    width: 988px;
}

.songs_container {
    box-sizing: border-box;
    width: 708px;

}

.sidebar {
    box-sizing: border-box;
    width: 280px;
}

.song {
    box-sizing: border-box;
}
