body {
  padding: 50px;
  font: 16px -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
li,
ul,
div,
span,
body,
header,
nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: rgb(248, 248, 248);
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}

#logo-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 10px;
}

#logged-in {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#logged-out {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#logged-in p,
#logged-in form,
#logged-out p,
#logged-out form {
  margin: 10px;
}

#sign-up,
#edit-profile,
.gradient-buttons {
  height: 40px;
  width: 80px;
  max-width: 200px;
  color: white;
  background-color: #004bff;
  border: none;
  border-radius: 5px;
  font: 14px -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: 500;
}

#sign-up:hover,
#edit-profile:hover,
.gradient-buttons:hover {
  transition: ease-in all .8s;
  background-image: linear-gradient(to left, #743ad5, #d53a9d);
}

.users-links,
#navbar-profile,
.navbar a,
a {
  border: none;
  font: 16px -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  color: #4b587c;
  background-color: rgb(248, 248, 248);
}

/* #sign-up:hover {
  transition: all .3s ease-in;
  background-color: linear-gradient(227deg, #ff4582, #e12e0d);
} */

.users-links:hover,
#navbar-profile:hover,
.navbar a:hover,
a:hover {
  transition: ease-in;
  transition-delay: 500;
  color: #004bff;
}

a:visited {
  text-decoration: underline none;
}

.web-links {
  font-weight: 500;
}

.nav-center {
  /* margin-bottom: auto; */
  /* border: black 1px solid; */
  margin-right: auto;
  width: 350px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
