* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  max-width: 100%;
  margin: 0;
  display: block;
  font: 1rem -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

/* div {
  display: block;
} */

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.left-block {
  width: 40%;
  height: 100%;
  overflow-y: scroll;
  background-color: #e8e8e8;
  padding: 25px 0;
  z-index: 2;
  display: block;
}

.left-block-container {
  width: calc(100% + 20%) ;
  min-width: 360px;
  height: 700px;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 3em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: flex-start; */
  /* overflow: scroll; */
  /* margin: 30px 0 100px 0px; */
  /* margin-bottom: 100px; */
  box-shadow: 0px 0px 4px 2.5px rgba(103, 100, 100, 0.7);
}

.form-container {
  width: 75%;
  height: 700px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 10;
  /* overflow-y: scroll; */
  /* background-color: red; */
  /* border-color: red 1px solid; */
}

.logo-wrapper img {
  height: 40px;
  margin-bottom: auto;
}

.logo-wrapper p {
  display: inline-block;
  position: relative;
  left: .8em;
  bottom: .7em;
  color: #004bff;
  font-weight: bold;
  font-size: 1.5rem;
}

#hey-there {
  line-height: 50px auto;
  margin-bottom: 0.4em;
  font-size: 1.5em;
  font-weight: 700;
}

#hey-subtext {
  line-height: 1em;
  width: 90%;
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: 300;
}

#signup-form {
  display: flex;
  flex-direction: column;
  flex: auto;
  align-items: flex-start;
  width: 100%;
  /* position: relative; */
  /* bottom: auto; */
}

.input-wrappers {
  width: 90%;
  height: 50%;
  display: block;
  margin-bottom: 1em;
}

.inputs {
  border-radius: 3px;
  border: 1px solid #6f7781;
  height: 2em;
  width: 100%;
  outline: none;
  margin-top: 10px;
}

.inputs:hover,
.inputs:focus {
  cursor: text;
  border: 1px solid #6492b8;
}

.button-wrappers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin-top: 1rem;
}

.button-wrappers button {
  height: 40px;
  width: 50%;
  color: white;
  background-color: #004bff;
  border: none;
  border-radius: 5px;
  font: 14px -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-weight: 500;
}

button:hover {
  cursor: pointer;
}

.right-block {
  background-color: rgb(1, 2, 24);
  position: relative;
  width: 60%;
  height: 100%;
  padding-left: 50px;
  background-image: url('https://axerosolutions.com/assets/Uploaded-CMS-Files/1c3bc747-fef3-4ce9-a3ae-dc94f44fbcb1.jpg');
  background-size: cover;
  z-index: -999999;
}

.button-wrappers {
  display: flex;
  margin: 0.6rem;
  flex-direction: column;
  align-items: center;
}
