body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

img {
    width: 72px;
    height: 72px;
    border-radius: 10%;
}

.text-style-1 {
    color: #4b587c;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

#main-header {
    max-width: 800px;
}

#routes {
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 0;
    left: 0;
    width: 800px;

}

#song-container {
    box-sizing: border-box;
}


#song-info {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    justify-content: space-between;
    width: 800px;
}

#song-name {
    color: #21293c;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    width: 400px;
    overflow: auto;
}

#artist-name {
    color: #4b587c;
    width: 400px;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin-top: 8px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

#delete-button {
    background: #fff;
    border: 1px solid #d9e1ec;
    border-radius: 4px;
    width: 80px;
    height: 64px;
    padding: 8px 16px;
    border-color: #004BFF;
}

#visit-upvote-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#visit {
    color: #21293c;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.upvote-button {
    width: 224px;
    height: 64px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    background-color: #004BFF;
    margin-left: 12px;
}

/* .upvote-button:hover {
    background-image: linear-gradient(to left, #743ad5, #004BFF);
} */

.upvote-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.upvote-img {
    position: relative;
    left: 4px;
    bottom: 1px;
    width: 0px;
    height: 0px;
    border-bottom: 18px solid #fff;
    border-left: transparent solid 18px;
    border-right: transparent solid 18px;
    border-radius: 7px;
}

#upvote-word {
    position: relative;
    left: -2px;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    margin-left: 20px;
    text-align: center;
}

.upvote-text {
    position: relative;
    right: 15px;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    margin-left: 20px;
    text-align: center;
}

#related-title {
    display: flex;
    flex-direction: row;
    width: 1216px;
    padding-left: 100px;
    font-size: 24px;
    margin-top: 20px;
}

#related-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 1000px;
    height: 280px;
    margin: 20px 142px 10px 142px;
    border-bottom: 1px solid #d9e1ec;
    overflow: auto;
}

.related-song {
    width: 300px;
    height: 220px;
    margin-right: 10px;
}

.img-size-1 {
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 100%;
}

.img-size-2 {
    width: 290px;
    height: 220px;
    border-radius: 5%;
}

.centered {
    text-align: center;
}


#comment-section-container {
    width: 70%;
    display: flex;
}

#comment-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comment-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 3px solid lightgray;
    border-bottom: 3px solid lightgray;
    border-collapse: collapse;
}

#comment-box img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    padding: 3px;
    margin-left: 1em;
}

.comment-bodies {
    width: 90%;
    height: 80%;
    border-radius: 5px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    margin: auto;
    border: 3px solid #004bff;
}

.comment-body-text {
    overflow: auto;
    overflow-wrap: break-word;
    margin: 1em;
}

.comment-form {
    display: flex;
    padding: 1em;
    align-items: center;
}

#delete-text-2 {
    position: relative;
    left: 3px;
}

#delete-text-2,
#delete-text-1 {
    font-weight: 400;

}

#delete-button:hover {
    transition: ease-in;
    transition-delay: 500;
    border: 3px solid red;
    padding: 0;
}

#delete-pop-up-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgb(0, 0, 0, 0.4);
    z-index: 1;
    overflow: hidden;
}

#delete-pop-up-form {
    height: 350px;
    width: 500px;
    background-color: white;
    border-radius: 30px;
    margin: 15% auto;
    border: 1px solid #004bff;

}

.delete-buttons {
    position: relative;
    font-size: large;
    height: 70px;
    width: 160px;
    border-radius: 15px;
}

.delete-buttons:hover {
    font-weight: 600;
    border-width: 3px;
}

#cancel-delete {
    top: 230px;
    left: 140px;
    border-color: #004bff;
    color: #004bff;
}

#confirm-delete {
    top: 230px;
    left: 40px;
    border-color: rgb(212, 5, 5);
    color: rgb(212, 5, 5)
}

#delete-warning {
    position: relative;
    height: 40%;
    width: 95%;
    text-align: center;
    font-size: 42px;
    left: 15px;
    top: 15px;
}

#delete-logo-box {
    position: relative;
    bottom: 185px;
    left: 12px;
}

#delete-logo {
    height: 56px;
    width: 56px;
}
