table {
  display: grid;
  border-collapse: collapse;
  width: 60%;
  grid-template-columns:
    minmax(150px, 1fr)
    minmax(150px, 1.33fr)
    minmax(150px, 1.33fr);
  max-width: 80%;
  margin: 20px;
}

thead,
tbody,
tr {
  display: contents;
}

th,
td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  position: absolute;
  top: 80px;
  background: #6c7ae0;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  color: white;
}

th:last-child {
  border: 0;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #808080;
}

tr:nth-child(even) td {
  background: #f8f6ff;
}

aside {
  width: 40%;
  padding-left: 2em;
  margin-left: 2em;
  float: right;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 5px 0 5px -5px gray;
}

.card-containers {
  width: 50%
}

.card img {
  width: 100%;
  object-fit: cover;
}

.card-headers {
  text-align: center;
}
